<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" , initial-scale=1>
  <meta name="google-site-verification" content="GnmGbLwc5R4XKwnb5idVS8Cp2vltfTjRdE7Sp-GntxY">
  <meta name="Description"
    content="Kem's meals and spices is a business organization that is into production of organic spices. We are a team of young and vibrant individuals who are passionate about healthy meals. Because we believe strongly in the impact of youths in a growing organization like ours, we are very passionate about healthy meals which is evident in our products.">
  <meta name="Keywords"
    content="spice, meat, curry, organic, pepper, kem, lagos, healthy meals, flavours, chicken flavour">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Fugaz+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'CSS/slider/slider.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/base/index.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/product/product.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/auth/auth.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/base/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/slider/sideDrawer.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/order/order.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/spinner/spinner.css' %}">
  {% load static %}
  <link rel="icon" type="image/jpg" href="{% static 'image/logo.jpg' %}" sizes="16x16">

  {% block title %}
  <title> Welcome to Kem's meals and spices </title>
  {% endblock %}

  {% block color %}
  <style media="screen">
    body {
      background: #E0E8EF;
    }
  </style>
  {% endblock %}
</head>

<body>
  <header class="toolbar">
    <div class="sideDrawer">
      <ul class="navigationitems">
        <div class="navigationitem-side">
          {% if user.is_authenticated %}
          <li class="nav-item" style="font-size: 23px;">
            <a href="{% url 'shopping_cart:order_summary' %}" class="nav-link">
              <i class="fas fa-shopping-cart"></i>
              {% if length %}
              <span class="cart">
                {{ length }}</span>
              {% endif %}
            </a>
          </li>
          <li class="nav-item" style="font-size: 23px;">
            <a href="{% url 'accounts:my_profile' %}" class="nav-link"><i class="far fa-user-circle"></i></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'products:create' %}" class="nav-link">Create a product</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'accounts:logout' %}" class="nav-link">Log Out</a>
          </li>
          {% else %}

          <li>
            <a href="{% url 'home' %}" class="nav-link">Home</a>
          </li>
          <li>
            <a href="{% url 'accounts:login' %}" class="nav-link">Log In</a>
          </li>
          <li>
            <a href="{% url 'accounts:signup' %}" class="nav-link btn btn-primary">Create free account</a>
          </li>
          {% endif %}
        </div>
      </ul>
    </div>
    <div class="home">
      <a href="{% url 'home' %}" class="logo">
        {% load static %}
        <img src="{% static "image/logo.jpg" %}" alt="logo">
        <h1>kem spices</h1>
      </a>
    </div>
    <div class="home2">
      <a href="{% url 'home' %}" class="logo">
        <h1 class="mt-2">kem spices</h1>
      </a>
    </div>
    <div class="hamburger" onclick="openDrawer()">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav class="desktopView">
      <ul class="navigationitems">
        <div class="navigationitem">
          {% if user.is_authenticated %}
          <li style="font-size: 23px;">
            <a href="{% url 'shopping_cart:order_summary' %}" class="nav-link cart-link">
              <i class="fas fa-shopping-cart"></i>
              {% if length %}
              <span class="cart">
                {{ length }}</span>
              {% endif %}
            </a>
          </li>
          <li>
            <a href="{% url 'products:create' %}" class="nav-link">Create a product</a>
          </li>
          <li class="nav-item" style="font-size: 23px;">
            <a href="{% url 'accounts:my_profile' %}" class="nav-link"><i class="far fa-user-circle"></i></a>
          </li>
          <li>
            <a href="{% url 'accounts:logout' %}" class="nav-link">Log Out</a>
          </li>

          {% else %}
          <li>
            <a href="{% url 'accounts:signup' %}" class="nav-link">sign up</a>
          </li>
          <li>
            <a href="{% url 'accounts:login' %}" class="nav-link">Log In</a>
          </li>
          {% endif %}
        </div>
      </ul>
    </nav>
  </header>

  <div class="content_wrap">
    {% block content %}

    {% endblock %}
  </div>

  {% block footer %}
  <footer class="footer">
    <div class="footer-content">
      <div class="company">
        <h6>Our Company</h6>
        <ul>
          <a href="{% url 'accounts:about' %}">
            <li>About us</li>
          </a>
          <a href="{% url 'accounts:contact' %}">
            <li>Contact us</li>
          </a>
        </ul>
      </div>
      <div class="social">
        <h6>Go Social</h6>
        <ul>
          <a href="https://web.facebook.com/mealsbynkem" target="_blank">
            <li><i class="fab fa-facebook-f"></i></li>
          </a>
          <a href="https://www.instagram.com/mealsbynkem/" target="_blank">
            <li><i class="fab fa-instagram"></i></li>
          </a>
          <a href="tel:+23408137370891">
            <li><i class="fab fa-whatsapp"></i></li>
          </a>
        </ul>
      </div>
      <hr>
    </div>
    <div class="container end">
      <div>
        &copy; 2019 All rights reserved.
      </div>
      <div class="payment-footer">
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-paypal"></i>
        <i class="far fa-credit-card"></i>
      </div>
    </div>
  </footer>
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
  <script type="text/javascript" src="{% static 'JS/payment_gateway.js' %}"></script>
  <script type="text/javascript" src="{% static 'JS/sideDrawer.js' %}"></script>


</body>

</html>