{% extends "category/category_base.html" %}
{% load humanize %}

{% block title %}
<title>Products in {{ category.slug }} </title>
{% endblock %}

{% block category_content %}

<div class="products-container">
  {% if category.products.count != 0 %}
  {% for product in category.products.all %} <div class="products">
    <img src="{{ product.image.url }}" alt="No Image">

    <div class="product-details">
      <a href="{% url 'products:detail' pk=product.pk %}">
        <strong>
          <p class="title">{{ product.title|truncatechars:25 }}</p>
        </strong>
      </a>
      <p><span class="span"><i class="far fa-money-bill-alt"></i></span>
        ₦ {{ product.price|intcomma }} </p>
      <hr>
      <div class="button">
        <button type="button" class="button1">
          <h6>Delicious</h6>
        </button>
        {% if user.is_authenticated %}
        {% if product in user.user_profile.goods.all %}
        <a href="{% url 'accounts:my_profile' %}">
          <button type="button" class="button2">
            <h6>Purchased</h6>
          </button>
        </a>
        {% elif product in current_order_products %}
        <a href="{% url 'shopping_cart:order_summary' %}">
          <button type="button" class="button2">
            <h6>Go to cart</h6>
          </button>
        </a>
        {% else %}
        <a href="{% url 'shopping_cart:add_to_cart' item_id=product.id %}">
          <button type="button" class="button2">
            <h6>Add to cart</h6>
          </button>
        </a>
        {% endif %}
        {% else %}
        <a href="{% url 'accounts:login' %}">
          <button type="button" class="button2">
            <h6>Buy Now</h6>
          </button>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="no-product">
    <h3>No products in this category</h3>
    <a href="{% url 'products:create' %}" class="btn btn-primary">Create a new product</a>
  </div>
  {% endif %}
</div>


{% endblock %}
{% block footer %}
{% endblock %}