{% extends "base.html" %}

{% block title %}
<title>About us | KemSpicy</title>
{% endblock %}

{% block content %}
<div class="about-us-container">
  <div class="about-us-page">
    <div class="about-header">
      <h3>ABOUT US</h3>
    </div>
    <div class="about-content">
      <p><span class="kems">KEM'S MEALS AND SPICES </span>is a registered company with registration number - CAC 2672916
      </p>
      <p>
        We all at KEM'S MEALS AND SPICES are passionate about what we do. We love our customers; and more especially, we
        love healthy, spicy, natural and delicious meals. We specialize in mixing traditional, quality organic spices to
        help you prepare healthy, delicious and tasty meals.
      </p>
      <p>
        At Kem's Meals and Spices, we beliveve that innovation is key. We have carefully formulated a blend of organic
        spices, each one being individually tailored to complement the underlying fresh ingredients.
      </p>
      <p>
        Our Spice Mixes are created with great care and attention, hygienically produced using only the very best
        organic spices. We combine the exact quantities and selections of spices for each mix by hand, package
        everything ourselves and with very simple easy to follow instructions pass on the knowldge to you.
      </p>
      <p>
        We pride ourselves on delivering great products. Each one of our mixes is enough to make a generous dish for
        atleast 5 people. They are totally Glutten free, mixture free, MSG free, preservatives free and vegetarian
      </p>

      <h5>mission statment</h5>
      <p>
        To provide our customers with outstanding quality and exquisite handmade natural blend organic spices
      </p>

      <h5>vision</h5>
      <p>
        To be the best organic spice company locally and globally
      </p>

      <h5>our shared value</h5>
      <ul>
        <li>Quality</li>
        <li>Integrity</li>
        <li>Teamwork</li>
        <li>Professionalism</li>
        <li>Resilience</li>
        <li>Excellence</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}