{% extends "base.html" %}

{% block title %}
<title>Contact us | KemSpicy</title>
{% endblock %}

{% block content %}
<div class="contact-us-container">
  <div class="contact-us-page">
    <div class="contact-header">
      <h3>CONTACT US</h3>
    </div>
    <div class="contact-content">
      <div class="icon-para">
        <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
        <p>KM 38 Lekki-Epe Express Way Opposite Corona School, Abijo, Ibeju Lekki Lagos</p>
      </div>
      <div class="icon-para">
        <div class="icon"><i class="far fa-envelope"></i></div>
        <p>mealsbynkem@gmail.com</p>
      </div>
      <div class="icon-para">
        <div class="icon"><i class="fas fa-mobile-alt"></i></div>
        <p>08037497041</p>
        <p>07054267135</p>
        <p>09091784045</p>
      </div>
    </div>
    <div class="email">
      <a href="mailto: mealsbynkem@gmail.com" class="btn btn-primary">
        send us an email
      </a>
    </div>
  </div>
</div>

{% endblock %}