{% extends "products/product_base.html" %}
{% load humanize %}


{% block title %}
<title>Welcome to Kem's meals and spices</title>
{% endblock %}

{% block product_content %}
<div class="preload" id="preload">
  <div class="spinner">
  </div>
</div>

<div class="container text-center mt-1">
  {% for message in messages %}
  <div class="alert alert-info">
    <a class="close" href="#" data-dismiss="alert">×</a>
    {{ message }}
  </div>
  {% endfor %}
</div>

<div class="mt-3">
  <div class="cat-slider">
    <div class="slider-search">
      <div class="search">
        <div class="help">
          <em>NEED HELP</em>
          <span class="phone">
            <a href="tel:+23408137370891"><i class="fa fa-phone" aria-hidden="true"></i></a>
          </span>
        </div>
        <form action="{% url 'products:search' %}">
          <div class="search-cont">
            <input type="text" value="{{request.GET.search}}" placeholder="Search products by title or price"
              name="search" required>
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>

      <div class="slider">
        <div class="mySlides fade">
          {% load static %}
          <img src="{% static "image/banner1.jpg" %}" alt="image" class="slider-image">
        </div>
        <div class="mySlides fade ">
          {% load static %}
          <img src="{% static "image/banner2.jpg" %}" alt="image" class="slider-image">
        </div>

        <div class="mySlides fade">
          {% load static %}
          <img src="{% static "image/banner3.jpg" %}" alt="image" class="slider-image">
        </div>

        <div class="mySlides fade">
          {% load static %}
          <img src="{% static "image/banner1.jpg" %}" alt="image" class="slider-image">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-product">
  <div class="category-table">
    {% for category in categories %}
    <div class="table-cat">
      <a href="{% url 'categories:detail' slug=category.slug %}">{{ category.name }}</a>
    </div>
    {% endfor %}
  </div>

  <div class="text">
    <h4 class="text-center"><em>Our Products</em></h4>
  </div>

  <div class="products-container">
    {% for product in products %}
    <div class="products">
      <img src="{{ product.image.url }}" alt="No Image">

      <div class="product-details">
        <a href="{% url 'products:detail' pk=product.pk %}">
          <strong>
            <p class="title">{{ product.title|truncatechars:25 }}</p>
          </strong>
        </a>
        <p><span class="span"><i class="far fa-money-bill-alt"></i></span>
          ₦ {{ product.price|intcomma }} </p>
        <hr>
        <div class="button">
          <button type="button" class="button1">
            <h6>Delicious</h6>
          </button>
          {% if user.is_authenticated %}
          {% if product in user.user_profile.goods.all %}
          <a href="{% url 'accounts:my_profile' %}">
            <button type="button" class="button2">
              <h6>Purchased</h6>
            </button>
          </a>
          {% elif product in current_order_products %}
          <a href="{% url 'shopping_cart:order_summary' %}">
            <button type="button" class="button2">
              <h6>Go to cart</h6>
            </button>
          </a>
          {% else %}
          <a href="{% url 'shopping_cart:add_to_cart' item_id=product.id %}">
            <button type="button" class="button2">
              <h6>Add to cart</h6>
            </button>
          </a>
          {% endif %}
          {% else %}
          <a href="{% url 'accounts:login' %}">
            <button type="button" class="button2">
              <h6>Buy Now</h6>
            </button>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="write_up-container">
  <div class="write-up">
    <div class="icon-para">
      <div class="icon"><i class="fas fa-truck"></i></div>
      <p>Easy delivery to your doorstep. Just order and get your products shipped to you.</p>
    </div>
    <div class="icon-para">
      <div class="icon"><i class="fab fa-amazon-pay"></i></div>
      <p>Our online payment system is top notch. We accept all card payments. Your details are secured with us</p>
    </div>
    <div class="icon-para">
      <div class="icon"><i class="fas fa-shield-alt"></i></div>
      <p>At kem's Meals and Spices, customers satisfaction is our movitvation. For this reason, we share great passion
        in bringing you our 100% organic spices.</p>
    </div>
  </div>
</div>


{% endblock %}